.categories {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1000;
	height: 50px;
	width: 50vw;
	min-width: 700px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}

.categories::-webkit-scrollbar:horizontal {
	height: 0px;
}

.categories > div {
	width: 200%;
	display: flex;
	justify-content: space-evenly;
}
