.wrapper-shapes {
	background-color: var(--w);
	position: absolute;
	z-index: 1000;
	top: 30%;
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.shape-list {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.shape-list--item {
	width: 50px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.shape-list--item:hover {
	background-color: var(--wHover);
	
}

.shape-list--item__active,.shape-list--item__active:hover {
	background-color: var(--b);
	
}


.shape-list--item__active > img,.shape-list--item__active:hover > img {
	filter: invert(1);
	
}



.shape-list--item > img {
	width: 50%;
}
