.chip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75px;
  padding: 0 2ch;
  background-color: aliceblue;
  border-radius: 14px;
  border: 1px solid rgb(203, 203, 203);
}

.chip__map-chip {
  z-index: 1000;
  position: relative;
}